@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


    .primary {
        background-color: #003965;
    }

    .primaryHover:hover {
        background-color: #003965;
    }

    .primaryText {
        color: #003965;
    }

    .primaryTextHover:hover {
        color: #003965;
    }

    .primaryFocus:focus {
        background-color: #003965;
    }

    .secondary {
        background-color: #1C9DFF;
    }@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


.primary {
    background-color: #003965;
}

.primaryText {
    color: #003965;
}

.primaryHover:hover {
    background-color: #003965;
}

.secondary {
    background-color: #1C9DFF;
}

    .secondaryHover:hover {
        background-color: #1C9DFF;
    }

    .secondaryActive:active {
        background-color: #1C9DFF;
    }

    .secondaryFocus:focus {
        background-color: #1C9DFF;
    }

    .secondaryFocusBorder:focus {
        border-color: #1C9DFF;
    }

    .secondaryText {
        color: #1C9DFF;
    }

    .secondaryTextHover:hover {
        color: #1C9DFF;
    }

    .gray {
        background-color: #B5B5B5;
    }

    .grayHover:hover {
        background-color: #B5B5B5;
    }

    .black {
        background-color: #000000;
    }
